<h1>Food Passport</h1>

<%= link_to 'London', '/restaurants' %><br>
<%= link_to 'New York', 'restaurants' %><br>
<%= link_to 'Kuala Lumpur', '/restaurants'%><br>
<%= link_to 'Melbourne', '/restaurants' %>