<h1>loulai nom noming through the globe</h1>

<%= link_to 'London', '/london' %><br>
<%= link_to 'New York', '/newyork' %><br>
<%= link_to 'Kuala Lumpur', '/kualalumpur' %><br>
<%= link_to 'Melbourne', '/melbourne' %>